{%extends 'base.html'%}
{% load bootstrap5 %}
{%block content%}

<style>
  .trial {
    display: flex;
    flex-direction: row;
  }

  .img img {
    width: 300px;
    height: 300px;
   
  }
  body{
    overflow-x: hidden;
    padding-left:50px;
    padding-right: 50px;
  }
</style>
<br><br><br><br>
<body style="background-color:darkgrey;" >
  <div class="container-fluid text-center" style="background-image: url(../static/image/Screenshot_20220409-115745.jpg); background-repeat: no-repeat; background-size: cover; padding:100px;" >
    <h1 class="">Awwards</h1>
    <h3>The awards of design, creativity and innovation on the internet</h3>
    <br><br><br><br>
  </div>
  <br>
  
  <div class="trial row">
    {% for project in projects %}
  
    <div class="col-md-4">
      <div class="img">
       
        <!-- Button trigger modal -->
        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal{{project.id}}">
          <img src="{{project.landingpage_pic.url}}" alt="" class="responsive">
          <h4>{{project.title}}</h4>
        </a>
  
        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{project.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="background-color: blue;">
                <h5 class="modal-title" id="exampleModalLabel">{{project.title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" style="background-color: grey;">
                <p><img src="{{project.landingpage_pic.url}}" ></p>
                <p>{{project.description}}</p>
                <p>{{project.link}}</p>
                <p>{{project.date_posted}}</p>
              </div>
              <div class="col-md-6">
                <a href="{% url 'review' project.id %}"><button class="btn btn-outline-info bg-info text-white rounded-pill">Review</button></a>

            </div>
              <div class="modal-footer" style="background-color: blueviolet;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{{ project.link }}"><Button>Redirect</Button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    
    </div>
    {% endfor %} 
  </div>
 
  <div class="container">
    <form role="form" class="pt-3" action="/search">
      <div class="form-group">
        <input type="text" class="form-control mt-5 " placeholder="Search project">
        <button type="submit"   class="btn btn-warning mt-1">SEARCH</button>
      </div>
  </div>
  {%endblock%}
</body>
